$player-1-foreground: #ffffff
$player-1-background: #000000

/* P1 and P2 colors are inverted */
$player-2-foreground: $player-1-background
$player-2-background: $player-1-foreground

$standard-spacing-tiny: 0.4rem
$standard-spacing-small: 1rem
$standard-spacing-medium: 2rem
$standard-spacing-large: 4rem

$standard-border-thin: 0.15rem
$standard-border-medium: 1rem
$standard-border-thick: 2rem

$standard-font-small: 1.3rem
$standard-font-medium: 2.5rem
$standard-font-large: 4rem


/* Fonts */

@font-face
	font-family: Walkway
	src: url('../assets/fonts/walkway-semibold.ttf')

body, h1, button, .game-board
	font-family: "Walkway"
	line-height: 100%

button
	font-weight: bold

/* Fonts */


/* General Page Layout */

header
	padding-top: $standard-spacing-small
	padding-left: $standard-spacing-small
	padding-right: $standard-spacing-small
	padding-bottom: $standard-spacing-small
	background-color: $player-2-background

header h1
	clear: right

header button
	margin-left: $standard-spacing-small

.player-1-theme
	background-color: $player-1-background
	color: $player-1-foreground

.player-2-theme
	background-color: $player-2-background
	color: $player-2-foreground

.player-1-theme header h1
	color: $player-2-foreground

.player-2-theme header h1
	color: $player-1-foreground

button.player-1-theme:hover, button.player-1-theme:focus
	background-color: $player-2-background
	color: $player-2-foreground

button.player-2-theme:hover, button.player-2-theme:focus
	background-color: $player-1-background
	color: $player-1-foreground

/* General Page Layout */


div.instructions
	margin-top: $standard-spacing-small
	margin-left: $standard-spacing-small
	margin-right: $standard-spacing-small

div.instructions p
	font-size: $standard-font-small

div.instructions p strong
	font-size: $standard-font-medium

/* Game Board */

.game-board
	font-size: $standard-font-medium
	position: relative

.player-1-name, .player-2-name
	padding-left: $standard-spacing-tiny

.player-1
	background-color: $player-1-background
	color: $player-1-foreground
	padding: $standard-spacing-small

.player-2
	background-color: $player-2-background
	color: $player-2-foreground
	padding: $standard-spacing-small

.player-1, .player-2
	width: 100%

.tile
	display: block
	float: left
	border-style: solid
	border-width: $standard-border-thin
	border-color: transparent

.player-1 .tile.selected
	border-color: $player-1-foreground

.player-2 .tile.selected
	border-color: $player-2-foreground

.click-move-preview-before.number-tile, .click-move-preview-after.operator-tile
	border-right-width: 0
	padding-right: $standard-spacing-tiny

.click-move-preview-before.operator-tile, .click-move-preview-after.number-tile
	border-left-width: 0
	padding-left: $standard-spacing-tiny

.move-preview-hover-listener
	float: left
	width: $standard-spacing-tiny
	height: $standard-font-medium

.tile-value
	float: left

.number-tiles, .operator-tiles
	padding-bottom: $standard-spacing-tiny
	clear: left

.number-tiles .tile, .operator-tiles .tile, .played-tiles .selected
	cursor: pointer

.equation-evaluation
	padding-left: $standard-spacing-tiny
	padding-top: $standard-border-thin
	float: left

.player-name
	margin-bottom: $standard-spacing-small

.equation-evaluation
	margin-bottom: $standard-spacing-medium

/* Game Board */


/* General */

.display-none
	display: none

.no-border-right
	border-right: none

.no-border-left
	border-left: none

/* General */
