$player-1-foreground: #ffffff
$player-1-background: #000000

/* P1 and P2 colors are inverted */
$player-2-foreground: $player-1-background
$player-2-background: $player-1-foreground

$standard-spacing-tiny: 0.4rem
$standard-spacing-small: 1rem
$standard-spacing-large: 4rem

$standard-border-thin: 0.15rem
$standard-border-medium: 1rem
$standard-border-thick: 2rem

$standard-font-small: 1rem
$standard-font-medium: 2.5rem
$standard-font-large: 4rem


/* Font Face */

@font-face
	font-family: Walkway
	src: url('../assets/fonts/walkway-semibold.ttf')

body, h1, .game-board
	font-family: "Walkway"

/* Font Face */


/* General Page Layout */

body
	background-color: $player-1-background

header
	padding-top: $standard-spacing-large
	padding-left: $standard-spacing-small
	padding-right: $standard-spacing-small
	background-color: $player-2-background

header h1
	color: $player-2-foreground

/* General Page Layout */



/* Game Board */

.game-board
	font-size: $standard-font-medium
	position: relative

.player-1-name, .player-2-name
	padding-left: $standard-spacing-tiny

.player-1
	background-color: $player-1-background
	color: $player-1-foreground
	padding: $standard-spacing-small

.player-2
	background-color: $player-2-background
	color: $player-2-foreground
	padding: $standard-spacing-small

.player-1, .player-2
	width: 100%

.tile
	display: inline
	cursor: pointer
	padding-left: $standard-spacing-tiny
	padding-right: $standard-spacing-tiny

.tile.selected
	border-style: solid
	border-width: $standard-border-thin

.player-1 .tile.selected
	border-color: $player-1-foreground

.player-2 .tile.selected
	border-color: $player-2-foreground

.played-tiles, .equation-evaluation
	display: inline-block

.equation-evaluation
	margin-bottom: $standard-spacing-small

/* Game Board */


/* General */

.display-none
	display: none

/* General */
